*{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: 'Cabin', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

html{
    background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url("three.png");
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 50px;
    
    
}

.one{
    margin-top: 30%;
    
}

.one > h1{
    color: #f0b411;
    font-size: 3em;
}

span{
    color: red;
}




.inp input{
    width: 60%;
    height: 50px;
    background: transparent;
    border: 2px solid #24b5a7;
    outline: none;
    color: white;
    border-radius: 40px;

}

.btn{
    width: 30%;
    height: 45px;
    background: #24b5a7;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: aliceblue;
    font-weight: 600;
}



